<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="template-head-part::head-part">
</head>
<body>
  <div class="grid-container">
    <p th:include="top-bot-menu-part::tmb-part"></p>
    <section class="mainSect">
      <div th:if="${result.get(T(com.carrental.domain.ResponseKeys).STATUS).code == 200}">
      <div th:if="${not #lists.isEmpty(result.get(T(com.carrental.domain.ResponseKeys).CAR_LIST))}">
        <table class="items-table">
          <tr>
            <td class="items-table-header"></td>
            <td class="items-table-header">Car type</td>
            <td class="items-table-header">Car mileage, km</td>
            <td class="items-table-header">Last maintenance at, km</td>
          </tr>
          <tr th:each="car : ${result.get(T(com.carrental.domain.ResponseKeys).CAR_LIST)}">
            <td class="items-table-item">
              <a th:href="@{/cars/{id}(id=${car.id})}" class="car-link">
                <img th:src="@{/img/arrow.png}" class="img-arrow-link"/>
              </a></td>
            <td class="items-table-item" th:text="${car.type}"></td>
            <td class="items-table-item" th:text="${car.mileage}"></td>
            <td class="items-table-item" th:text="${car.lastMaintenance}"></td>
          </tr>
        </table>
      </div>
        <div th:if="${#lists.isEmpty(result.get(T(com.carrental.domain.ResponseKeys).CAR_LIST))}">
          <p class="no-data">No data found</p>
        </div>
      </div>
      <div th:if="${result.get(T(com.carrental.domain.ResponseKeys).STATUS).code != 200}">
        <br th:include="error-part::error-block"/>
      </div>
    </section>
  </div>
</body>
</html>