<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="template-head-part::head-part">
</head>
<body>
<div class="grid-container">
  <p th:include="top-bot-menu-part::tmb-part"></p>
  <section class="mainSect">
    <div class="item-form-div">
      <h1 class="section-title" th:text="|Search contacts by ${searchParam}"></h1>
      <form action="#" th:action="|/contacts/by${searchParam}" method="get" class="item-form">
        <input type="text" th:id="${searchParam}" th:name="${searchParam}" class="item-form-input"
               th:placeholder="|Input ${searchParam} value here|"/>
        <input type="submit" value="Search" class="item-form-btn"/>
      </form>
    </div>
  </section>
</div>
</body>
</html>