<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
  <div class="error-block" th:fragment="error-block">
    <p class="error-header">
      An error occured during this operation.
    </p>
    <table class="error-table" th:with="status=${result.get(T(com.carrental.domain.ResponseKeys).STATUS)}">
      <tr>
        <td class="error-label">Status code</td>
        <td class="error-value" th:text="${status.code}">
        </td>
      </tr>
      <tr>
        <td class="error-label">Status message</td>
        <td class="error-value" th:text="${status.message}">
        </td>
      </tr>
      <tr>
        <td class="error-label">Exception type</td>
        <td class="error-value" th:text="${result.get(T(com.carrental.domain.ResponseKeys).EXCEPTION_TYPE}">
        </td>
      </tr>
      <tr>
        <td class="error-label">Exception message</td>
        <td class="error-value" th:text="${result.get(T(com.carrental.domain.ResponseKeys).EXCEPTION_MESSAGE}">
        </td>
      </tr>
    </table>
  </div>
</body>
</html>