<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="template-head-part::head-part">
</head>
<body>
<div class="grid-container">
  <p th:include="top-bot-menu-part::tmb-part"></p>
  <section class="mainSect">
    <div class="item-form-div"
         th:with="mainten=${result.get(T(com.carrental.domain.ResponseKeys).MAINTENANCE)}">
      <h1 class="section-title">Maintenance data</h1>
      <table class="item-form-table" th:object="${mainten}">
        <tr>
          <td class="item-form-table-lbl">ID</td>
          <td class="item-form-table-value">
            <input type="number" readonly="readonly" class="item-form-input" th:value="*{id}"/>
          </td>
        </tr>
        <tr>
          <td class="item-form-table-lbl">Car</td>
          <td class="item-form-table-value">
            <input type="text" readonly="readonly" class="item-form-input"
                   th:value="|*{car.type}(id:*{car.id})|"/>
          </td>
        </tr>
        <tr>
          <td class="item-form-table-lbl">Date</td>
          <td class="item-form-table-value">
            <input type="date" readonly="readonly" class="item-form-input" th:value="*{dateDone}"/>
          </td>
        </tr>
        <tr>
          <td class="item-form-table-lbl">Cost</td>
          <td class="item-form-table-value">
            <input type="number" step=".01" readonly="readonly" class="item-form-input"
                   th:value="*{cost}"/>
          </td>
        </tr>
        <tr>
          <td class="item-form-table-lbl">Status</td>
          <td class="item-form-table-value">
            <input type="text" readonly="readonly" class="item-form-input" th:value="*{status}"/>
          </td>
        </tr>
      </table>
      <form action="/maintenances/toprogress" class="item-form" method="post"
            th:if="${mainten.status == T(com.carrental.model.Maintenance.MaintenanceStatus).SCHEDULED}">
        <input type="hidden" id="id" name="id" th:value="${mainten.id}"/>
        <input type="submit" value="To progress" class="item-form-btn"/>
      </form>
      <form action="/maintenances/close" class="item-form" method="post"
            th:if="${mainten.status == T(com.carrental.model.Maintenance.MaintenanceStatus).IN_PROGRESS}">
        <input type="hidden" id="id" name="id" th:value="${mainten.id}"/>
        <input type="number" id="total" name="total" min="0" step=".01" class="item-form-input"
               title="Input maintenance total price value here" th:value="${mainten.cost}"/>
        <input type="submit" value="Close maintenance" class="item-form-btn"/>
      </form>
    </div>
  </section>
</div>
</body>
</html>