body, html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
}

h1 {
  font-size: 2.4rem;
}

td {
	word-wrap: inherit;
}

#logo {
	width: 7.5rem;
	height: 7.5rem;
	float: left;
	margin-right: 1rem;
}

#headText {
	font-size: 3rem;
  font-style: oblique;
	text-align: center;
}

.menu {
  font-size: 2rem;
  list-style-type: none;
}

.menu a {
  text-decoration: none;
}

.menu li:hover {
  text-align: center;
}

.submenu {
  list-style-type: none;
}

.grid-container {
  display: grid;
  grid-template-columns:
    /* 1 */ 25rem;
    /* 2 */ 1fr;
  grid-template-rows:
    /* 1 */ 8rem;
    /* 2 */ 1fr;
    /* 3 */ 1rem;
}

/* Specify the position of each grid item using coordinates on
 * the 'grid-row' and 'grid-column' properties of each grid item.
 */
.logoSect {
	grid-area: logoSect;
	grid-column: 1 / span 2; 
	grid-row: 1; 
	//border-bottom: inset;
}

.menuSect    { 
	grid-area:menuSect;
	grid-column: 1; 
	grid-row: 2; 
	align-items: center; 
	margin-right: 0.5rem;
	flex-direction: column;
	flex-wrap: wrap;
}
.mainSect    { 
	grid-area: mainSect;
	grid-column: 2; 
	grid-row: 2; 
	margin-left: 2rem;
	text-align:center;
}
	
.footerSect {
	grid-area: footerSect;
	grid-column: 1 / span 2; 
	grid-row: 3; 
	align-self: center; 
	text-align:center;
}

.menuSect, .mainSect, .booksContainer {
	display: flex;
}

.mainSect {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width:50rem){
  .grid-container{
    display: grid;
    grid-template-columns:
      1fr;
    grid-template-rows:
      /* 1 */ 1fr;
      /* 2 */ 2fr;
      /* 2 */ 5fr;
      /* 3 */ 1fr;
  }
  .logoSect {
    grid-column: 1;
    grid-row: 1;
  }
  .menuSect {
    grid-column: 1;
    grid-row: 2;
    flex-direction: row;
  }
  .mainSect    {
    grid-area: mainSect;
    grid-column: 1;
    grid-row: 3;
    margin-left: 0rem;
  }

  .footerSect {
    grid-area: footerSect;
    grid-column: 1;
    grid-row: 4;
  }
}

.greet-text {
  text-align: justify;
  font-size: 2rem;
  padding-left: 5rem;
}

.error-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-header {
  text-align: center;
  font-size: 2.5rem;
}

.error-table {
  border: 0.1rem;
  border-collapse: collapse;
  align-content: left;
  alignment: center;
  font-size: 2rem;
  margin: 0.2rem;
  text-align:left;
}
.error-table td {
  border: 0.1rem solid;
}
.error-label {
  font-weight: bold;
}

.no-data {
  text-align: center;
  font-size: 2rem;
}

.items-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items-table {
  border: 0.2rem;
  border-collapse: collapse;
  text-align: left;
  font-size: 2rem;
  margin: 0.2rem;
}
.items-table td {
  border: 0.1rem solid;
  padding: 1rem;
}
.items-table-header {
  font-weight: bold;
  text-align: center;
}
.items-table-item {

}

.img-arrow-link {
  height: 2rem;
  zoom: normal;
}

.section-title {
  font-size: 2.4rem;
}

.item-form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-form-table {
  padding: 2rem;
  text-align: left;
}
.item-form-table td {
  padding-bottom: 0.5rem;
}

.item-form-table-lbl {
  font-style: oblique;
  font-size: 2rem;
}
.item-form-table-btn {
  padding-top: 1rem;
  text-align: center;
}

.item-form-input {
  width: 30rem;
  font-size: 1.5rem;
  padding: 0.5rem 0 0.5rem 1rem;
  border: 0.1rem solid;
  border-radius: 0.8rem;
}

.item-form-btn {
  cursor: pointer;
  border: 1px solid;
  box-shadow: inset 0 2rem 2rem;
  border-radius: 0.8rem;
  padding: 0.5rem 1.5rem;
  width: 15rem;
  font-size: 1.5rem;
}
.item-form-btn:hover {
  box-shadow: inset 0rem -2rem 2rem;
}
.item-form-btn:active {
  margin-top: 1rem;
  margin-bottom: -1rem;
  zoom: 1;
}

.maintenances-total {
  font-size: 2rem;
  padding-bottom: 2rem;
}